@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    font-family: Roboto, sans-serif;
}
.bg-special {
    background-color: #06133d;
}
.bg-special-2 {
    background-color: rgb(22, 27, 88);
}
.coming-soon-radius {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(22, 27, 88);
    background-color: rgb(22, 27, 88);
    color: rgba(255, 255, 255, 0.9);
    box-shadow: rgb(22 53 76 / 5%) 0px 5px 15px 0px;
    padding: 10px 16px;
    border-radius: 28px;
    margin-bottom: 25px;
    font-size: 14px;
    width: 250px;
}
.coming-soon-paragraph {
    font-size: 16px;
    font-family: Roboto;
    color: rgba(142, 199, 255, 0.6);
    line-height: 1.8;
    text-align: left;
    max-width: 420px;
}

.input {
    transition: border 0.2s ease-in-out;
    min-width: 280px
}

.input:focus+.label,
.input:active+.label,
.input.filled+.label {
    font-size: .75rem;
    transition: all 0.2s ease-out;
    top: -0.1rem;
    color: #667eea;
}

.label {
    transition: all 0.2s ease-out;
    top: 0.4rem;
    left: 0;
}

.clock-box {
    background: rgb(16, 28, 69);
}
.unit {
    width: 100%;
    height: 100%;
}
main:before {
    background-image: url('~/assets/background.png');
    opacity: 1;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #03103b;
    transition: opacity 0.5s ease 500ms;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}